<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Webmap for Busme</title>
    <script type='text/javascript'>
debug = true;
         console.log("Staring");
   </script>
    <%= javascript_include_tag :application %>
    <script type='text/javascript'>
         console.log("Staring2");
   </script>
    <%= stylesheet_link_tag "OpenLayers-2.11/theme/default/style.css" %>
    <script type='text/javascript'>
         console.log("Staring3");
   </script>
    <%= stylesheet_link_tag "application.css" %>
    <%= stylesheet_link_tag "layout-default-latest.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <script type='text/javascript'>
         console.log("Staring4");
   </script>
    <%= javascript_include_tag "OpenLayers-2.11/lib/OpenLayers.js" %>
    <script type='text/javascript'>
         console.log("Staring5");
   </script>
    <%= javascript_include_tag "BusPassAPI.js" %>
    <script type='text/javascript'>
         console.log("Staring6");
   </script>
    <%= javascript_include_tag "jquery.json-2.3.js" %>
    <%= javascript_include_tag "BusPass.js" %>
    <%= javascript_include_tag "GeoLocationController.js" %>
    <%= javascript_include_tag "LocationController.js" %>
    <%= javascript_include_tag "RoutesController.js" %>
    <%= javascript_include_tag "ActivePlanController.js" %>
    <%= javascript_include_tag "SelectAllFeature.js" %>
    <%= javascript_include_tag "RoutesMapController.js" %>
    <%= javascript_include_tag "LocationMapViewController.js" %>
    <%= javascript_include_tag "ListViewController.js" %>
    <%= javascript_include_tag "JourneyBasket.js" %>
    <%= javascript_include_tag "JourneyStore.js" %>
    <script type='text/javascript'>
         console.log("Staring7");
   </script>
    <%= javascript_include_tag "Route.js" %>
    <script type='text/javascript'>
         console.log("Staring8");
   </script>
    <%= javascript_include_tag "jquery.tools.min.js" %>
    <%= javascript_include_tag "jquery.layout-latest.js" %>
    <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %>
    <script type="text/javascript">
console.log("STARTING 333");
    </script>
    <%= yield :head %>
  </head>
  <body>
   <%= yield %>
  </body>
</html>
